<ion-header translucent>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>,
<ion-content fullscreen>
  <ion-card>
    <img src="https://ca.slack-edge.com/T17R4TFAM-U022RTW1403-0a11ec6215b9-512" />
    <ion-card-header>
      <ion-card-subtitle>Name</ion-card-subtitle>
      <ion-card-title>Devaun Nicholson</ion-card-title>
      <ion-card-subtitle>Age</ion-card-subtitle>
      <ion-card-title>15</ion-card-title>
      <ion-card-subtitle> School: </ion-card-subtitle>
    <ion-card-title> Narbonne Senior High </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    Hi There, my name is Devaun Nicholson. I like playing video games, watching anime, and learning about code!
    </ion-card-content>
  </ion-card>
</ion-content>